#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.app-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app-buttons__button {
  min-width: 100px;
  padding: 20px;
}


.puzzle {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.puzzle > * {
  margin-bottom: 20px;
}

.puzzle__game {
  width: fit-content;
  margin: auto;
}

.puzzle__row {
  display: flex;
  border-bottom: none;
}

.puzzle__row:nth-of-type(3), .puzzle__row:nth-of-type(6) {
  border-bottom: 1px solid green;
}

.puzzle__cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-align:center;
  outline: none;
  border: none;
  border: 1px solid #ddd;
}

.puzzle__cell--parse-failure {
  border: 1px solid red;
  background: #ffaacc
}

.puzzle__cell:focus {
  border: 1px solid black;
}

.puzzle__cell:nth-of-type(3), .puzzle__cell:nth-of-type(6)  {
  border-right: 1px solid green;
}

input.puzzle__cell::-webkit-outer-spin-button,
input.puzzle__cell::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].puzzle__cell {
  -moz-appearance: textfield;
}

.camera-capture {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba( 50, 205, 50, .5 );
  overflow:hidden;
}

.camera-capture__video {
  position: absolute;
  left: 0;
  top: 0;
}

.camera-capture__overlay-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.camera-capture__controls {
  position: absolute;
  bottom: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}