:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.top-navigation {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  padding: 10px;
}

.top-navigation__title {
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  font-size: 1.8rem;
  position: relative;
}

.top-navigation__beta-tag {
    position: absolute;
    bottom: -2px;
    font-size: .7rem;
    background: #999;
    padding: 4px;
    border-radius: 5px;
    transform: rotate(-25deg);
    letter-spacing: 2px;
    color: black;
}

.top-navigation > *:not( :last-of-type ) {
  margin-right: 30px;
}

.top-navigation__about {

}

.top-navigation__github {
  height: 30px;
  width: 30px;
}

.app-content {
  height: 100%;
  overflow: hidden;
}

.app-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.app-buttons__button {
  min-width: 100px;
  padding: 20px;
}

.sudoku {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sudoku__error-message {
  margin-top: 40px;
  text-align: center;
}

.puzzle {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-self: center;
  margin-top: 10%;
}

.puzzle > * {
  margin-bottom: 20px;
}

.puzzle__game {
  width: fit-content;
  margin: auto;
}

.puzzle__row {
  display: flex;
  border-bottom: none;
}

.puzzle__row:nth-of-type(3), .puzzle__row:nth-of-type(6) {
  border-bottom: 1px solid green;
}

.puzzle__cell {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-align:center;
  outline: none;
  border: none;
  border: 1px solid #ddd;
}

.puzzle__cell--parse-failure {
  border: 1px solid red;
  background: #ffaacc
}

.puzzle__cell:focus {
  border: 1px solid black;
}

.puzzle__cell:nth-of-type(3), .puzzle__cell:nth-of-type(6)  {
  border-right: 1px solid green;
}

input.puzzle__cell::-webkit-outer-spin-button,
input.puzzle__cell::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].puzzle__cell {
  -moz-appearance: textfield;
}

.camera-capture {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #333;
  overflow:hidden;
}

.camera-capture__video {
  position: absolute;
  left: 0;
  top: 0;
}

.camera-capture__overlay-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.camera-capture__controls {
  position: absolute;
  bottom: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.camera-capture__error-message {
  margin: 20px;
  text-align: center;
}